{%- if customer -%}
    <section class="customer-app__wrapper" id="el-customer__app">
        <script>
            const customerData={
                bg_image:"{{ block.settings.bg_image | img_url:'master'}}"
            }
        </script>
        <div id="customer-app"></div> 
    </section>
{%- endif -%}


{% schema %}
{
    "name":"Account Page",
    "target":"section",
    "tag":"section",
    "templates":["customers/account"],
    "stylesheet":"app.css",
    "javascript":"app.js",
    "settings":[
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Back-Ground Image",
        "info":"Recommended Banner Size is 1900 * 1400px"
      }
    ]
}
{% endschema %}